<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="be.abollaert.smartlights" android:versionCode="1"
	android:versionName="1.0" android:installLocation="preferExternal">
	<application android:label="@string/app_name" android:name=".android.client.SmartlightsApplication" android:icon="@drawable/smartlights">
		<activity android:name=".android.client.MainMenuActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".android.client.ShowMoodsActivity">
		</activity>
		<activity android:name=".android.client.DigitalChannelsActivity"></activity>
		<activity android:name=".android.client.DimmerChannelsActivity"></activity>
		<activity android:name=".android.client.ExtraActivity"></activity>
	</application>

	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
</manifest>